Flask==2.2.3
Flask_Cors==4.0.0
flask_mongoengine==1.0.0
Flask_RESTful
flask-jwt-extended
mongoengine
pymongo
python-dotenv
werkzeug
gunicorn
cloudinary
langchain_google_genai
googletrans
Flask-Mail
httpx
twilio
